/* Poilces:
  Impact: */ @import url('https://fr.allfont.net/allfont.css?fonts=impact'); /*
  Bebas Neue */ @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*
  Exo 2 */ @import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap'); /*
*/

/* Responsive: rééquilibrer à 900px de width */

* {
    cursor: default;
}

body {
    margin: 0px;
}

.top {
    background: #181818;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;

    &__img {
        display: flex;
        align-items: center;
        width: 25%;

        &__logo {
            width: 45px;
            height: auto;
            margin-left: 15px;
        }
    }
    

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: 'Bebas Neue', sans-serif;
            color: rgb(231, 221, 221);
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 50px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: nowrap;

        a {
            margin: 0 15px;
            font-size: 27px;
            font-family: 'Impact', Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: rgb(231, 221, 221);
            transition: color 0.3s ease-out, -webkit-text-stroke 0.3s ease-out;
            cursor: pointer;
            position: relative;

            &:after {    
                bottom: -25%;
                content: "";
                height: 3px;
                left: 9%;
                position: absolute;
                background: rgb(231, 221, 221);
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
            }

            &:hover:after {
                width: 50%;
                left: 0;
            }
        }
    }
}


.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.subtitle {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-left: 15px;
    padding-right: 7.5px;
    height: 301px;

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        color: #181818;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 50px;
        margin-bottom: 15px;
    }

    p {
        font-family: 'Exo 2', sans-serif;
        color: #181818;
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 1px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    img {
        margin-top: 15px;
        border-radius: 100%;
        transition: box-shadow 0.3s, transform 0.3s;

        &:hover {
            box-shadow: 7px 7px 25px #403A3E;
            transform: translateY(-6px);
        }
    }
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-right: 15px;
    padding-left: 7.5px;
    height: 301px;
    margin-top: 0;

    &__title {
        font-family: 'Bebas Neue', sans-serif;
        color: #181818;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 50px;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-family: 'Exo 2', sans-serif;
        color: #181818;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 15px; 
        margin-top: 0;
    }

    p {
        font-family: 'Exo 2', sans-serif;
        color: #181818;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 15px; 
    }
}

@media screen and (max-width: 900px) {
    .top {
        background: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        &__img {
            flex-direction: column;
            align-items: center;
            width: 100%;

            &__logo {
                margin: 15px 0;
            }
        }

        &__title {
            
            h1 {
                color: #181818;
                margin: 0;
            }
        }

        &__nav {
            flex-direction: column;
            margin-top: 15px;
            
            a {
                margin-bottom: 10px;
                color: #181818;

                &:after {    
                    bottom: -10%;
                    content: "";
                    height: 3px;
                    left: 0;
                    width: 50%;
                    position: absolute;
                    background: #181818;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .top {
        background: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        &__img {
            flex-direction: column;
            align-items: center;
            width: 100%;

            &__logo {
                margin: 15px 0;
            }
        }

        &__title {
            
            h1 {
                color: #181818;
                margin: 0;
            }
        }

        &__nav {
            flex-direction: column;
            margin-top: 15px;
            
            a {
                margin-bottom: 10px;
                color: #181818;

                &:after {    
                    bottom: -10%;
                    content: "";
                    height: 3px;
                    left: 0;
                    width: 50%;
                    position: absolute;
                    background: #181818;
                }
            }
        }
    }

    .container {
        flex-direction: column;

        img {
            width: auto;
            height: 15%;
        }

        .infos {
            margin-top: 5%;
        }
    }
}



